<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1321.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{478,705},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5635.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,475}</string>
                <key>spriteSourceSize</key>
                <string>{500,475}</string>
                <key>textureRect</key>
                <string>{{1,303},{500,475}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,300}</string>
                <key>spriteSourceSize</key>
                <string>{800,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>righttop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,300}</string>
                <key>spriteSourceSize</key>
                <string>{400,300}</string>
                <key>textureRect</key>
                <string>{{478,303},{400,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dsfadsfasdfasd.png</string>
            <key>size</key>
            <string>{802,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309c63f164f12e4bc86a067cabfee9e6:4900ee1652a1ecede77630221cbb5be6:39188ff4f8e9a8627aff0621291d42c4$</string>
            <key>textureFileName</key>
            <string>dsfadsfasdfasd.png</string>
        </dict>
    </dict>
</plist>
